.Comp-SignUpPageThree {
    .element-input {
        border: 1px solid #cfd7e3;
        padding: 0 20px 0 25px;
        height: 50px;
        box-shadow: inset 0 2px 10px 0 #eceff4;
        color: #636363;
        font-size: 15px;
        font-weight: 300;
        vertical-align: middle;
    }

    .price {

        input[disabled] {
            opacity: .7;
            background-color: #f2f2f2;
        }
    }
}