.Comp-DepthNav.depth-nav {
    float: none;

    a {
        float: none;
        display: block;

        &:hover:not(.active) {
            background: #c1272d;
        }

        &.active .switch {
            float: right;
            width: 35px;
            height: 100%;
            position: relative;
            left: 30px;
        }
    }
}
