@import '../../variables';

.Comp-AccountRouter {
    .myacc .box .item {
        float: none;

        @media #{$sm-up} {
            display: flex;
        }
        
        .left {
            float: none;
            width: auto;
            margin-left: 0;
            min-width: 100%;

            @media #{$sm-up} {
                min-width: 400px;
                display: flex;
            }

            .lleft {
                float: none;
                margin-left: 0;

                @media #{$xs-down} {
                    display: block;
                    margin-bottom: 20px;
                }
            }

            .rleft {
                float: none;
                margin-left: 0;

                .myacc_creditcard {
                    display: flex;
                    flex-direction: column;

                    .top {
                        float: none;
                        height: auto;
                        line-height: inherit;
                        padding: 15px 0;
                        margin-left: 0;

                        .card_numb {
                            white-space: nowrap;
                        }
                    }
                    
                    .buttom {
                        float: none;
                        margin-left: 0;
                    }
                }
            }
        }

        .right {
            float: none;
            width: auto;
            margin-right: 0;
        }
    }

}
