@media only screen and (max-width: 600px) {
  .hidden-under-600 {
    display: none; } }

@media only screen and (min-width: 601px) {
  .visible-under-600 {
    display: none; } }

.Comp-AccountRouter .myacc .box .item {
  float: none; }
  @media only screen and (min-width: 768px) {
    .Comp-AccountRouter .myacc .box .item {
      display: flex; } }
  .Comp-AccountRouter .myacc .box .item .left {
    float: none;
    width: auto;
    margin-left: 0;
    min-width: 100%; }
    @media only screen and (min-width: 768px) {
      .Comp-AccountRouter .myacc .box .item .left {
        min-width: 400px;
        display: flex; } }
    .Comp-AccountRouter .myacc .box .item .left .lleft {
      float: none;
      margin-left: 0; }
      @media only screen and (max-width: 767px) {
        .Comp-AccountRouter .myacc .box .item .left .lleft {
          display: block;
          margin-bottom: 20px; } }
    .Comp-AccountRouter .myacc .box .item .left .rleft {
      float: none;
      margin-left: 0; }
      .Comp-AccountRouter .myacc .box .item .left .rleft .myacc_creditcard {
        display: flex;
        flex-direction: column; }
        .Comp-AccountRouter .myacc .box .item .left .rleft .myacc_creditcard .top {
          float: none;
          height: auto;
          line-height: inherit;
          padding: 15px 0;
          margin-left: 0; }
          .Comp-AccountRouter .myacc .box .item .left .rleft .myacc_creditcard .top .card_numb {
            white-space: nowrap; }
        .Comp-AccountRouter .myacc .box .item .left .rleft .myacc_creditcard .buttom {
          float: none;
          margin-left: 0; }
  .Comp-AccountRouter .myacc .box .item .right {
    float: none;
    width: auto;
    margin-right: 0; }
