.new-btn {
  background-color: grey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.sco-modlwidth {
  width: 41em !important;
  height: 32em !important;
  max-width: 41em !important;
  background: #232526 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.sco-modlwidth path {
  fill: #c1272d !important; }

.scoring-title {
  padding-top: 15px;
  padding-left: 20px;
  color: white;
  font-size: 25px; }

.sc-p {
  padding-top: 25px;
  padding-left: 5px;
  margin-right: 20px; }

.sc-dropdown {
  text-align: left;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  padding-left: 10px;
  width: 75%; }

.sc-dropdwn {
  position: absolute;
  top: 100%;
  left: 29px;
  font-size: 15px;
  z-index: 1000;
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  /* display: none; */
  float: right;
  min-width: 67%;
  /* padding: 5px 0; */
  margin: 2px 0 0;
  /* font-size: 14px; */
  text-align: center;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.sc-dropdwn li {
  margin: 0px;
  padding-top: 5px;
  list-style-type: none;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gainsboro; }

.sc-dropdwn li:hover {
  background-color: gainsboro;
  cursor: pointer; }

.sc-dropdown-glyph {
  float: right;
  padding-right: 10px;
  padding-top: 2px; }

.sc-label {
  padding-top: 40px;
  font-size: 10px;
  color: wheat;
  font-style: italic; }

.pr0 {
  padding-right: 0px; }

.pl0 {
  padding-left: 0px; }

.scoring-text {
  padding-top: 35px;
  text-align: left;
  padding-left: 25px; }

.scoring-input {
  width: 90%;
  margin-top: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px; }

.scoring-txttitle {
  color: white;
  font-size: 15px; }

.save-div {
  display: flex;
  justify-content: center; }

.save-btn {
  padding: 10px 45px;
  font-size: 15px;
  font-weight: bold;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to left, #2c3e50 0%, #bdc3c7);
  background-color: #2c3e50; }

.show {
  display: block; }

.hide {
  display: none; }

.scoring-btn {
  position: absolute;
  top: 30px;
  right: 10%;
  font-size: 15px;
  background: black;
  color: white;
  padding: 10px 40px;
  background-color: #3a3a3a;
  cursor: pointer;
  font-weight: bold; }

.scoring-list {
  position: absolute;
  right: 10%;
  font-size: 15px;
  background: black;
  color: white;
  background-color: #3a3a3a;
  font-weight: bold;
  top: 75px;
  width: 184px;
  z-index: 100;
  background-color: grey; }
  .scoring-list div {
    cursor: pointer; }

.scoring-list input[type="checkbox"] {
  display: none; }

.scoring-list label {
  transition: 1s;
  padding: 15px 25px;
  text-overflow: ellipsis;
  max-width: 184px;
  width: 184px;
  overflow: hidden; }

.scoring-list label:hover {
  background-color: #3a3a3a;
  cursor: pointer; }

.scoring-list input:checked + label {
  background: #464646 url("../../resources/basic/images/checkdox.png") 95% center no-repeat; }

.max-text {
  float: right;
  margin-right: 20px;
  font-size: 13px;
  color: white; }

.error-text {
  font-weight: bold;
  color: #f33737; }

.animated-label {
  width: 43% !important;
  float: left; }

.hide {
  display: none; }

.edit-icons {
  display: flex;
  padding-top: 15px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sco-modlwidth {
    width: 570px !important;
    height: 490px !important; } }
