.Comp-Error {
    .container.error-page {
        width: calc(100vh - 256px);
        min-height: calc(100vh - 256px);
        display: flex;
        align-items: center;

        .error-page-container {
            padding: 30px;

            header.error-page__header {
                border: 0;

                .error-page__header-image {
                    width: 112px;
                    margin-bottom: 25px;
                }

                .error-page__title {
                    font-family: "Roboto", Arial, sans-serif;
                    font-size: 31px;
                    text-align: center;
                }
            }

            p {
                text-align: center;
            }
        }
    }




}