div.Comp-GameField.position_wrap {
  float: none;
  height: 100%;
  display: flex;
  flex-direction: column; }

div.Comp-GameField .team-header {
  font-size: 23px;
  font-weight: bold; }
  div.Comp-GameField .team-header.Comp-DefensiveHeader {
    margin-top: 15px; }
  div.Comp-GameField .team-header.Comp-DefensiveHeader {
    margin-bottom: 15px; }
  div.Comp-GameField .team-header .team {
    display: inline-block;
    padding: 0 15px; }
  div.Comp-GameField .team-header .teamCoordinator {
    display: inline-block;
    padding: 0 15px; }

div.Comp-GameField .team--defense .player {
  background: orange; }

div.Comp-GameField .team--offense .player {
  background: navy; }

div.Comp-GameField .graphwrap {
  background: none;
  flex: 1;
  display: flex;
  min-height: calc(100vh - 395px);
  max-height: calc(100vh - 150px); }

div.Comp-GameField .canvas {
  position: relative;
  width: 100%;
  background: transparent url(../../../resources/basic/images/field-lines.png) center center;
  background-size: 33.3333% 20%;
  display: flex;
  flex-direction: column; }
  div.Comp-GameField .canvas .team {
    position: relative;
    width: 100%;
    flex: 1; }
    div.Comp-GameField .canvas .team.Comp-DefensePlayers {
      border-bottom: 2px solid #000; }
    div.Comp-GameField .canvas .team.Comp-OffensePlayers {
      border-top: 2px solid #000; }
    div.Comp-GameField .canvas .team .team__position {
      position: absolute;
      width: 130px;
      margin-left: -65px;
      text-align: center;
      text-transform: uppercase; }
      div.Comp-GameField .canvas .team .team__position .position__players, div.Comp-GameField .canvas .team .team__position .position__title {
        position: absolute;
        width: 100%; }
      div.Comp-GameField .canvas .team .team__position .position__players .player {
        font-size: 0.6em;
        margin-bottom: 1px;
        background-color: transparent;
        text-transform: none;
        font-weight: bold; }
        div.Comp-GameField .canvas .team .team__position .position__players .player .injury {
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          background-color: #c1272d;
          color: white !important;
          height: 14px;
          line-height: 14px;
          text-align: center;
          margin-left: 5px;
          width: 14px; }
      div.Comp-GameField .canvas .team .team__position .position__title {
        font-weight: bold;
        font-size: 25px;
        height: 28px;
        line-height: 28px; }
    div.Comp-GameField .canvas .team.team--defense .position__players {
      bottom: 28px; }
    div.Comp-GameField .canvas .team.team--defense .position__title {
      bottom: 0; }
    div.Comp-GameField .canvas .team.team--offense .position__players {
      top: 28px; }
    div.Comp-GameField .canvas .team.team--offense .position__title {
      top: 0; }

div.Comp-GameField .team--defense.defense--4-3 .position--lde {
  left: 30%;
  bottom: 10%; }

div.Comp-GameField .team--defense.defense--4-3 .position--ldt {
  left: 45%;
  bottom: 7%; }

div.Comp-GameField .team--defense.defense--4-3 .position--rdt {
  left: 55%;
  bottom: 7%; }

div.Comp-GameField .team--defense.defense--4-3 .position--rde {
  left: 70%;
  bottom: 10%; }

div.Comp-GameField .team--defense.defense--4-3 .position--lcb {
  left: 10%;
  bottom: 20%; }

div.Comp-GameField .team--defense.defense--4-3 .position--rcb {
  left: 90%;
  bottom: 30%; }

div.Comp-GameField .team--defense.defense--4-3 .position--wslb {
  left: 25%;
  bottom: 50%; }

div.Comp-GameField .team--defense.defense--4-3 .position--sslb {
  left: 75%;
  bottom: 50%; }

div.Comp-GameField .team--defense.defense--4-3 .position--mlb {
  left: 50%;
  bottom: 50%; }

div.Comp-GameField .team--defense.defense--4-3 .position--ss {
  left: 40%;
  bottom: 70%; }

div.Comp-GameField .team--defense.defense--4-3 .position--fs {
  left: 70%;
  bottom: 73%; }

div.Comp-GameField .team--defense.defense--3-4 .position--dt {
  left: 50%;
  bottom: 7%; }

div.Comp-GameField .team--defense.defense--3-4 .position--lde {
  left: 35%;
  bottom: 10%; }

div.Comp-GameField .team--defense.defense--3-4 .position--rde {
  left: 65%;
  bottom: 10%; }

div.Comp-GameField .team--defense.defense--3-4 .position--lolb {
  left: 23%;
  bottom: 22%; }

div.Comp-GameField .team--defense.defense--3-4 .position--rolb {
  left: 80%;
  bottom: 20%; }

div.Comp-GameField .team--defense.defense--3-4 .position--lcb {
  left: 10%;
  bottom: 25%; }

div.Comp-GameField .team--defense.defense--3-4 .position--rcb {
  left: 90%;
  bottom: 27%; }

div.Comp-GameField .team--defense.defense--3-4 .position--lilb {
  left: 40%;
  bottom: 47%; }

div.Comp-GameField .team--defense.defense--3-4 .position--rilb {
  left: 60%;
  bottom: 47%; }

div.Comp-GameField .team--defense.defense--3-4 .position--fs {
  left: 75%;
  bottom: 68%; }

div.Comp-GameField .team--defense.defense--3-4 .position--ss {
  left: 25%;
  bottom: 73%; }

div.Comp-GameField .team--offense.offense--standard .position--c {
  left: 50%;
  top: 5%; }

div.Comp-GameField .team--offense.offense--standard .position--lg {
  top: 10%;
  left: 40%; }

div.Comp-GameField .team--offense.offense--standard .position--lt {
  top: 10%;
  left: 30%; }

div.Comp-GameField .team--offense.offense--standard .position--rg {
  top: 10%;
  left: 60%; }

div.Comp-GameField .team--offense.offense--standard .position--rt {
  top: 10%;
  left: 70%; }

div.Comp-GameField .team--offense.offense--standard .position--qb1 {
  left: 50%;
  top: 34%; }

div.Comp-GameField .team--offense.offense--standard .position--wr1 {
  left: 10%;
  top: 15%; }

div.Comp-GameField .team--offense.offense--standard .position--wr2 {
  left: 20%;
  top: 20%; }

div.Comp-GameField .team--offense.offense--standard .position--te {
  left: 80%;
  top: 15%; }

div.Comp-GameField .team--offense.offense--standard .position--wr3 {
  left: 90%;
  top: 15%; }

div.Comp-GameField .team--offense.offense--standard .position--fb {
  left: 42%;
  top: 50%; }

div.Comp-GameField .team--offense.offense--standard .position--rb2 {
  left: 58%;
  top: 50%; }

div.Comp-GameField .team--offense.offense--standard .position--k {
  left: 12%;
  top: 59%; }

div.Comp-GameField .team--offense.offense--standard .position--p {
  left: 12%;
  top: 80%; }
