body {
  margin: 0;
  padding: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.tooltip-inner {
  min-width: 150px; }

.selectwrap, .dataheader {
  width: 200px; }
  .selectwrap .Select.react-select.is-open .Select-control .Select-arrow-zone .Select-arrow, .dataheader .Select.react-select.is-open .Select-control .Select-arrow-zone .Select-arrow {
    transform: rotate(-135deg); }
  .selectwrap .Select.react-select.is-open .Select-control, .dataheader .Select.react-select.is-open .Select-control {
    border-color: #999; }
  .selectwrap .Select.react-select > .Select-control, .dataheader .Select.react-select > .Select-control {
    border-radius: 0;
    height: 42px;
    transition: all 0.2s ease-in-out;
    box-shadow: none;
    border: solid 1px #d1d1d1; }
    .selectwrap .Select.react-select > .Select-control .Select-placeholder, .selectwrap .Select.react-select > .Select-control .Select-value, .dataheader .Select.react-select > .Select-control .Select-placeholder, .dataheader .Select.react-select > .Select-control .Select-value {
      padding-left: 15px;
      padding-top: 3px;
      text-align: left; }
    .selectwrap .Select.react-select > .Select-control .Select-arrow-zone, .dataheader .Select.react-select > .Select-control .Select-arrow-zone {
      float: none;
      width: 29px;
      background-color: #3a3a3a; }
      .selectwrap .Select.react-select > .Select-control .Select-arrow-zone .Select-arrow, .dataheader .Select.react-select > .Select-control .Select-arrow-zone .Select-arrow {
        border: 0;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        content: '';
        display: block;
        height: 7px;
        margin-top: -4px;
        pointer-events: none;
        position: absolute;
        right: 12px;
        top: 50%;
        transform-origin: 66% 66%;
        transform: rotate(45deg);
        width: 7px; }
  .selectwrap .Select.react-select .Select-menu-outer, .dataheader .Select.react-select .Select-menu-outer {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch; }
  .selectwrap .Select.react-select .Select-menu, .dataheader .Select.react-select .Select-menu {
    max-height: 198px;
    overflow-y: auto; }
  .selectwrap .Select.react-select .Select-option, .dataheader .Select.react-select .Select-option {
    text-align: left;
    box-sizing: border-box;
    background-color: #fff;
    color: #c1272d;
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    border-top: 1px solid #d1d1d1; }
    .selectwrap .Select.react-select .Select-option:last-child, .dataheader .Select.react-select .Select-option:last-child {
      border-radius: 0; }
    .selectwrap .Select.react-select .Select-option.is-selected, .dataheader .Select.react-select .Select-option.is-selected {
      background-color: #f6f6f6;
      color: #c1272d;
      font-weight: bold; }
    .selectwrap .Select.react-select .Select-option.is-focused, .dataheader .Select.react-select .Select-option.is-focused {
      background-color: #f6f6f6;
      color: #c1272d; }
