.statroute-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  display: none;
  background: rgba(0, 0, 0, 0.1); }
  .statroute-popup.statroute-popup--visible {
    display: block; }
  .statroute-popup .statroute-popup__box {
    width: 650px;
    max-width: calc(100% - 60px);
    margin: 0 30px 30px;
    position: absolute;
    top: 10%;
    left: calc(50% - 30px);
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(126, 137, 140, 0.2);
    border: none;
    overflow: hidden;
    z-index: 100; }
    .statroute-popup .statroute-popup__box .statroute-popup__close {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #c1272d url("./resources/basic/images/box-close.png") center center no-repeat;
      top: 0;
      right: 0;
      cursor: pointer;
      outline: none;
      text-align: center;
      border: none;
      text-indent: -9999px;
      margin: 0;
      z-index: 3; }
