.teamColor-ARI {
  background: #97233F; }

.teamColor-ATL {
  background: #A6192E; }

.teamColor-BAL {
  background: #241773; }

.teamColor-BUF {
  background: #00338D; }

.teamColor-CAR {
  background: #0085CA; }

.teamColor-CHI {
  background: #051C2C; }

.teamColor-CIN {
  background: #FC4C02; }

.teamColor-CLE {
  background: #382F2D; }

.teamColor-DAL {
  background: #003594; }

.teamColor-DEN {
  background: #FC4C02; }

.teamColor-DET {
  background: #0069B1; }

.teamColor-GNB {
  background: #175E33; }

.teamColor-HOU {
  background: #091F2C; }

.teamColor-IND {
  background: #001489; }

.teamColor-JAX {
  background: #D49F12; }

.teamColor-KAN {
  background: #C8102E; }

.teamColor-LAC {
  background: #0C2340; }

.teamColor-LAR {
  background: #002244; }

.teamColor-MIA {
  background: #008E97; }

.teamColor-MIN {
  background: #512D6D; }

.teamColor-NEW {
  background: #0C2340; }

.teamColor-NOR {
  background: #A28D5B; }

.teamColor-NYG {
  background: #001E62; }

.teamColor-NYJ {
  background: #0C371D; }

.teamColor-OAK {
  background: #101820; }

.teamColor-PHI {
  background: #004851; }

.teamColor-PIT {
  background: #FFB81C; }

.teamColor-SFO {
  background: #9B2743; }

.teamColor-SEA {
  background: #001433; }

.teamColor-TAM {
  background: #C8102E; }

.teamColor-TEN {
  background: #0C2340; }

.teamColor-WAS {
  background: #862633; }
