.selectplan {

    p.error {
        margin-left: 10px;
        margin-bottom: -22px - 15px !important;
    }

    .Comp-PlanSelection {

        .plan {
            display: inline;

            .premium {
                display: inline-block;
                text-transform: uppercase;
                font-size: 20px;
                padding-bottom: 10px;
                margin-top: -10px;
            }
        }

        .free-plan {

        }
    }
}
