.selectplan p.error {
  margin-left: 10px;
  margin-bottom: -37px !important; }

.selectplan .Comp-PlanSelection .plan {
  display: inline; }
  .selectplan .Comp-PlanSelection .plan .premium {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: -10px; }
