.stat-ip {
    .mainright {
        height: calc(100vh - 82px);
        overflow-y: auto;
        padding-bottom: 0;

        @media screen and ( max-height: 1000px ){
            height: auto;
            max-height: 1000px;
        }
    }


    .compare-button.compare-button_get_premium {
        padding-right: 50px;
    }
    .historicalPlayersWrapper{
        text-align: left
    }
    .historicalPlayersWrapper > .table-checkbox-label{
        width: 15px;
        height: 15px;
    }
    .historicalPlayersText{
        width: 300px;
        display: inline-block;
        margin-left: 22px;
        font-size: 12px;
        font-weight: 500;
        position: relative;
        top: -4px;
    }

}