.Comp-NewBillingInformation .h1, .Comp-ChangePlan .h1 {
  float: none;
  display: inline-block;
  width: auto;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 30px auto 10px;
  position: relative;
  padding-left: 45px; }
  .Comp-NewBillingInformation .h1:before, .Comp-ChangePlan .h1:before {
    content: "";
    position: absolute;
    background: url(../../../../resources/basic/images/h2_blueico.png) 50% no-repeat;
    width: 35px;
    height: 10px;
    left: 0;
    top: 50%;
    margin-top: -5px; }

.Comp-NewBillingInformation .block, .Comp-ChangePlan .block {
  border-top: 1px solid #e2e9f4;
  padding: 30px 60px 50px; }
  .Comp-NewBillingInformation .block.inputs, .Comp-ChangePlan .block.inputs {
    padding: 40px 120px 60px; }
  .Comp-NewBillingInformation .block h2, .Comp-ChangePlan .block h2 {
    font-size: 15px;
    font-weight: 500;
    color: #2f7eba;
    text-transform: uppercase; }
  .Comp-NewBillingInformation .block .regdata, .Comp-ChangePlan .block .regdata {
    text-align: left; }
    .Comp-NewBillingInformation .block .regdata .item, .Comp-ChangePlan .block .regdata .item {
      float: left;
      width: 100%;
      border-bottom: 1px solid #e2e9f4;
      padding: 15px 0; }
      .Comp-NewBillingInformation .block .regdata .item p.error, .Comp-NewBillingInformation .block .regdata .item p.success, .Comp-ChangePlan .block .regdata .item p.error, .Comp-ChangePlan .block .regdata .item p.success {
        margin-top: 15px;
        margin-bottom: 0;
        color: #279a3e; }
      .Comp-NewBillingInformation .block .regdata .item p.error, .Comp-ChangePlan .block .regdata .item p.error {
        color: #c1272d; }
    .Comp-NewBillingInformation .block .regdata.payment, .Comp-ChangePlan .block .regdata.payment {
      border-bottom: 1px solid #e2e9f4;
      padding: 5px 0 15px; }
      .Comp-NewBillingInformation .block .regdata.payment.last-child, .Comp-ChangePlan .block .regdata.payment.last-child {
        border-bottom: 0; }
      .Comp-NewBillingInformation .block .regdata.payment img, .Comp-ChangePlan .block .regdata.payment img {
        float: left;
        margin: 15px 0; }
      .Comp-NewBillingInformation .block .regdata.payment .item, .Comp-ChangePlan .block .regdata.payment .item {
        border-bottom: 0;
        padding: 5px 0; }
        .Comp-NewBillingInformation .block .regdata.payment .item .left, .Comp-ChangePlan .block .regdata.payment .item .left {
          float: left;
          font-size: 15px;
          font-weight: 500;
          margin-top: 15px; }
        .Comp-NewBillingInformation .block .regdata.payment .item .right, .Comp-ChangePlan .block .regdata.payment .item .right {
          float: right;
          width: 55%; }
          .Comp-NewBillingInformation .block .regdata.payment .item .right .element-input, .Comp-ChangePlan .block .regdata.payment .item .right .element-input {
            border: 1px solid #cfd7e3;
            padding: 0 20px 0 25px;
            height: 50px;
            -webkit-box-shadow: inset 0 2px 10px 0 #eceff4;
            box-shadow: inset 0 2px 10px 0 #eceff4;
            color: #636363;
            font-size: 15px;
            font-weight: 300;
            vertical-align: middle; }
  .Comp-NewBillingInformation .block button, .Comp-ChangePlan .block button {
    color: #fff;
    height: 50px;
    border: 0;
    float: left;
    width: 100%;
    background: #c1272d;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 35px;
    position: relative; }
    .Comp-NewBillingInformation .block button.buttonarrow:after, .Comp-ChangePlan .block button.buttonarrow:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-top: 25px solid #fff;
      border-bottom: 25px solid #fff;
      border-left: 15px solid transparent; }
