.Comp-NewBillingInformation, .Comp-ChangePlan {

    .h1 {
        float: none;
        display: inline-block;
        width: auto;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 30px auto 10px;
        position: relative;
        padding-left: 45px;

        &:before {
            content: "";
            position: absolute;
            background: url(../../../../resources/basic/images/h2_blueico.png) 50% no-repeat;
            width: 35px;
            height: 10px;
            left: 0;
            top: 50%;
            margin-top: -5px;
        }
    }

    .block {
        border-top: 1px solid #e2e9f4;
        padding: 30px 60px 50px;

        &.inputs {
            padding: 40px 120px 60px;
        }

        h2 {
            font-size: 15px;
            font-weight: 500;
            color: #2f7eba;
            text-transform: uppercase;
        }

        .regdata {
            text-align: left;

            .item {
                float: left;
                width: 100%;
                border-bottom: 1px solid #e2e9f4;
                padding: 15px 0;

                p.error, p.success {
                    margin-top: 15px;
                    margin-bottom: 0;
                    color: #279a3e;
                }

                p.error {
                    color: #c1272d;
                }
            }

            &.payment {
                border-bottom: 1px solid #e2e9f4;
                padding: 5px 0 15px;

                &.last-child {
                    border-bottom: 0;
                }

                img {
                    float: left;
                    margin: 15px 0;
                }

                .item {
                    border-bottom: 0;
                    padding: 5px 0;

                    .left {
                        float: left;
                        font-size: 15px;
                        font-weight: 500;
                        margin-top: 15px;
                    }

                    .right {
                        float: right;
                        width: 55%;

                        .element-input {
                            border: 1px solid #cfd7e3;
                            padding: 0 20px 0 25px;
                            height: 50px;
                            -webkit-box-shadow: inset 0 2px 10px 0 #eceff4;
                            box-shadow: inset 0 2px 10px 0 #eceff4;
                            color: #636363;
                            font-size: 15px;
                            font-weight: 300;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        button {
            color: #fff;
            height: 50px;
            border: 0;
            float: left;
            width: 100%;
            background: #c1272d;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 35px;
            position: relative;

            &.buttonarrow:after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-top: 25px solid #fff;
                border-bottom: 25px solid #fff;
                border-left: 15px solid transparent;
            }
        }


    }
}