@import "../variables";

@media #{$width-800-down}{
  footer {
    .footer {
      
      &-logo-wrapper {
        display: block;
        width: 100%;
        
        .footer-logo {
          float: none;
          margin: 5px auto 15px;
        }
      }
      
      &-socials {
        display: block;
        margin-top: 15px;
        float: left;
        text-align: center;
        width: 100%;
        
        a {
          float: none;
        }
      }
    }
    
    p {
      width: 100% !important;
      text-align: center;
      display: inline-block;
      margin-left: 0 !important;
      
      a {
        float: none !important;
        margin-bottom: 5px;
      }
    }
  }
}
.social-img{
      width: 50%;
    float: right;
}
.rights{
  font-family:Open Sans;
      color: white;
    font-size: 12px;
}
.pb10{
  padding-bottom: 10px;
}
.footer-li{
  font-size: 13px;
  line-height: 25px;
  a{
    color:white;
  }
  a:hover{
    color:white;
  }
  a:focus{
    color:white;
  }
}
 @media only screen and (max-width: 600px) {
.footer-li{
  font-size: 33px;
  line-height: 25px;
  a{
    color:white;
  }
  a:hover{
    color:initial;
  }
  a:focus{
    color:initial;
  }
}

 }