.Comp-PopupMessage {

    .h1 {
        float: none;
        display: inline-block;
        width: auto;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 30px auto 10px;
        position: relative;
        padding-left: 45px;

        &:before {
            content: "";
            position: absolute;
            background: url(../resources/basic/images/h2_blueico.png) 50% no-repeat;
            width: 35px;
            height: 10px;
            left: 0;
            top: 50%;
            margin-top: -5px;
        }
    }

    .block {
        border-top: 1px solid #e2e9f4;
        padding: 30px 60px 50px;

        h2 {
            font-size: 15px;
            font-weight: 500;
            color: #2f7eba;
            text-transform: uppercase;
        }

        button {
            color: #fff;
            height: 50px;
            border: 0;
            float: left;
            width: 100%;
            background: #c1272d;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 35px;
            position: relative;

            &.buttonarrow:after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-top: 25px solid #fff;
                border-bottom: 25px solid #fff;
                border-left: 15px solid transparent;
            }
        }


    }
}