.Comp-PlanDetail {
    .left {
        .rleft-inner {
            display: block;
            color: #2f7eba;
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 10px;
        }
    }
}