@media only screen and (max-width: 600px) {
  .hidden-under-600 {
    display: none; } }

@media only screen and (min-width: 601px) {
  .visible-under-600 {
    display: none; } }

.Comp-SignIn input.error, .Comp-SignUp input.error, .Comp-ForgotPassword input.error {
  outline-color: #c1272d;
  outline-style: auto;
  outline-offset: -2px; }

.Comp-SignIn p.error, .Comp-SignIn p.success, .Comp-SignUp p.error, .Comp-SignUp p.success, .Comp-ForgotPassword p.error, .Comp-ForgotPassword p.success {
  margin-top: 15px;
  margin-bottom: 0;
  color: #279a3e; }

.Comp-SignIn p.error, .Comp-SignUp p.error, .Comp-ForgotPassword p.error {
  color: #c1272d; }

.Comp-SignIn input.error, .Comp-SignUp input.error, .Comp-ForgotPassword input.error {
  outline-color: #c1272d;
  outline-style: auto;
  outline-offset: -2px; }

.Comp-SignIn .nice-select.error, .Comp-SignUp .nice-select.error, .Comp-ForgotPassword .nice-select.error {
  box-shadow: 0px 0px 2px 2px #c1272d; }

.Comp-SignIn input.error + label.radiolab:before, .Comp-SignIn input.error + label.checklab:before, .Comp-SignUp input.error + label.radiolab:before, .Comp-SignUp input.error + label.checklab:before, .Comp-ForgotPassword input.error + label.radiolab:before, .Comp-ForgotPassword input.error + label.checklab:before {
  box-shadow: 0px 0px 2px 2px #c1272d; }

@media only screen and (max-width: 800px) {
  .Comp-SignIn .signinupwrap, .Comp-SignUp .signinupwrap, .Comp-ForgotPassword .signinupwrap {
    min-height: inherit; } }

.Comp-SignIn .signinupwrap .signinupform, .Comp-SignUp .signinupwrap .signinupform, .Comp-ForgotPassword .signinupwrap .signinupform {
  max-width: 100%; }
  .Comp-SignIn .signinupwrap .signinupform .item.newsletter, .Comp-SignUp .signinupwrap .signinupform .item.newsletter, .Comp-ForgotPassword .signinupwrap .signinupform .item.newsletter {
    border-bottom: 0;
    margin-top: 15px;
    margin-bottom: -5px; }
  @media only screen and (max-width: 800px) {
    .Comp-SignIn .signinupwrap .signinupform .inputs, .Comp-SignUp .signinupwrap .signinupform .inputs, .Comp-ForgotPassword .signinupwrap .signinupform .inputs {
      padding-left: 40px;
      padding-right: 40px; } }
  @media only screen and (max-width: 600px) {
    .Comp-SignIn .signinupwrap .signinupform .inputs, .Comp-SignUp .signinupwrap .signinupform .inputs, .Comp-ForgotPassword .signinupwrap .signinupform .inputs {
      padding-left: 15px;
      padding-right: 15px; } }
