@import "../../../variables";

.Comp-SignIn, .Comp-SignUp, .Comp-ForgotPassword {

    input.error {
        outline-color: #c1272d;
        outline-style: auto;
        outline-offset: -2px;
    }

    p.error, p.success {
        margin-top: 15px;
        margin-bottom: 0;
        color: #279a3e;
    }

    p.error {
        color: #c1272d;
    }

    input.error {
        outline-color: #c1272d;
        outline-style: auto;
        outline-offset: -2px;
    }

    .nice-select.error {
        box-shadow: 0px 0px 2px 2px #c1272d;
    }

    input.error + label.radiolab:before, input.error + label.checklab:before {
        box-shadow: 0px 0px 2px 2px #c1272d;
    }

    .signinupwrap {

        @media #{$width-800-down}{
            min-height: inherit;
        }

        .signinupform {
            max-width: 100%;

            .item.newsletter {
                border-bottom: 0;
                margin-top: 15px;
                margin-bottom: -5px;
            }

            .inputs {
                @media #{$width-800-down}{
                    padding-left: 40px;
                    padding-right: 40px;
                }
                @media #{$width-600-down}{
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}