.Comp-Splits {
    label.disabled {
        opacity: .4;
        //background: #222;

        &:hover {
            background: none;
        }
    }
}
.quater-label{
    text-align: center;
}
.half-label{
    width: 50%;
    
}
.no-pad{
    padding: 0px !important;
}