.teamColor-ARI, .Comp-Teams .team-ARI:hover, .Comp-Versus .team-ARI:hover {
  background: linear-gradient(to right, #1f1919, #76161a) !important; }

.teamColor-ATL, .Comp-Teams .team-ATL:hover, .Comp-Versus .team-ATL:hover {
  background: linear-gradient(to right, #241918, #ba1813) !important; }

.teamColor-BAL, .Comp-Teams .team-BAL:hover, .Comp-Versus .team-BAL:hover {
  background: linear-gradient(to right, #1a1a1d, #2d225e) !important; }

.teamColor-BUF, .Comp-Teams .team-BUF:hover, .Comp-Versus .team-BUF:hover {
  background: linear-gradient(to right, #1d1f25, #1b4581) !important; }

.teamColor-CAR, .Comp-Teams .team-CAR:hover, .Comp-Versus .team-CAR:hover {
  background: linear-gradient(to right, #191e21, #038ac1) !important; }

.teamColor-CHI, .Comp-Teams .team-CHI:hover, .Comp-Versus .team-CHI:hover {
  background: linear-gradient(to right, #27221c, #c0560c) !important; }

.teamColor-CIN, .Comp-Teams .team-CIN:hover, .Comp-Versus .team-CIN:hover {
  background: linear-gradient(to right, #2c1e1b, #dd4921) !important; }

.teamColor-CLE, .Comp-Teams .team-CLE:hover, .Comp-Versus .team-CLE:hover {
  background: linear-gradient(to right, #251f19, #cd5c0a) !important; }

.teamColor-DAL, .Comp-Teams .team-DAL:hover, .Comp-Versus .team-DAL:hover {
  background: linear-gradient(to right, #1f2022, #3c4d67) !important; }

.teamColor-DEN, .Comp-Teams .team-DEN:hover, .Comp-Versus .team-DEN:hover {
  background: linear-gradient(to right, #202122, #102540) !important; }

.teamColor-DET, .Comp-Teams .team-DET:hover, .Comp-Versus .team-DET:hover {
  background: linear-gradient(to right, #182126, #0389c2) !important; }

.teamColor-GNB, .Comp-Teams .team-GNB:hover, .Comp-Versus .team-GNB:hover {
  background: linear-gradient(to right, #1d1f1c, #325b3d) !important; }

.teamColor-LAR, .Comp-Teams .team-LAR:hover, .Comp-Versus .team-LAR:hover {
  background: linear-gradient(to right, #232427, #142445) !important; }

.teamColor-HOU, .Comp-Teams .team-HOU:hover, .Comp-Versus .team-HOU:hover {
  background: linear-gradient(to right, #251c1d, #7c1528) !important; }

.teamColor-IND, .Comp-Teams .team-IND:hover, .Comp-Versus .team-IND:hover {
  background: linear-gradient(to right, #1b1f23, #0659b3) !important; }

.teamColor-JAX, .Comp-Teams .team-JAX:hover, .Comp-Versus .team-JAX:hover {
  background: linear-gradient(to right, #25241f, #c49d38) !important; }

.teamColor-KAN, .Comp-Teams .team-KAN:hover, .Comp-Versus .team-KAN:hover {
  background: linear-gradient(to right, #231a1d, #9f1e34) !important; }

.teamColor-LAC, .Comp-Teams .team-LAC:hover, .Comp-Versus .team-LAC:hover {
  background: linear-gradient(to right, #22262a, #3e88c3) !important; }

.teamColor-MIN, .Comp-Teams .team-MIN:hover, .Comp-Versus .team-MIN:hover {
  background: linear-gradient(to right, #242227, #3b2259) !important; }

.teamColor-MIA, .Comp-Teams .team-MIA:hover, .Comp-Versus .team-MIA:hover {
  background: linear-gradient(to right, #1b1f20, #035560) !important; }

.teamColor-NOR, .Comp-Teams .team-NOR:hover, .Comp-Versus .team-NOR:hover {
  background: linear-gradient(to right, #262521, #bc9e72) !important; }

.teamColor-NEW, .Comp-Teams .team-NEW:hover, .Comp-Versus .team-NEW:hover {
  background: linear-gradient(to right, #1a1b1d, #112647) !important; }

.teamColor-NYG, .Comp-Teams .team-NYG:hover, .Comp-Versus .team-NYG:hover {
  background: linear-gradient(to right, #1c1b20, #243065) !important; }

.teamColor-PHI, .Comp-Teams .team-PHI:hover, .Comp-Versus .team-PHI:hover {
  background: linear-gradient(to right, #1b1f1e, #084d52) !important; }

.teamColor-NYJ, .Comp-Teams .team-NYJ:hover, .Comp-Versus .team-NYJ:hover {
  background: linear-gradient(to right, #1a1b1b, #143a23) !important; }

.teamColor-OAK, .Comp-Teams .team-OAK:hover, .Comp-Versus .team-OAK:hover {
  background: linear-gradient(to right, #1f1f1f, #656565) !important; }

.teamColor-SFO, .Comp-Teams .team-SFO:hover, .Comp-Versus .team-SFO:hover {
  background: linear-gradient(to right, #1f181a, #651120) !important; }

.teamColor-PIT, .Comp-Teams .team-PIT:hover, .Comp-Versus .team-PIT:hover {
  background: linear-gradient(to right, #28251d, #dfb918) !important; }

.teamColor-SEA, .Comp-Teams .team-SEA:hover, .Comp-Versus .team-SEA:hover {
  background: linear-gradient(to right, #1c1c21, #394b6f) !important; }

.teamColor-TAM, .Comp-Teams .team-TAM:hover, .Comp-Versus .team-TAM:hover {
  background: linear-gradient(to right, #241b1d, #a21d32) !important; }

.teamColor-WAS, .Comp-Teams .team-WAS:hover, .Comp-Versus .team-WAS:hover {
  background: linear-gradient(to right, #1b191a, #4f201a) !important; }

.teamColor-TEN, .Comp-Teams .team-TEN:hover, .Comp-Versus .team-TEN:hover {
  background: linear-gradient(to right, #1d2025, #5b80b5) !important; }

.teamFontColor-ARI span {
  color: #97233F !important;
  font-weight: bold; }

.teamFontColor-ARI {
  color: #97233F;
  font-weight: bold; }

.teamFontColor-ATL span {
  color: #A6192E !important;
  font-weight: bold; }

.teamFontColor-ATL {
  color: #A6192E;
  font-weight: bold; }

.teamFontColor-BAL span {
  color: #241773 !important;
  font-weight: bold; }

.teamFontColor-BAL {
  color: #241773;
  font-weight: bold; }

.teamFontColor-BUF span {
  color: #00338D !important;
  font-weight: bold; }

.teamFontColor-BUF {
  color: #00338D;
  font-weight: bold; }

.teamFontColor-CAR span {
  color: #0085CA !important;
  font-weight: bold; }

.teamFontColor-CAR {
  color: #0085CA;
  font-weight: bold; }

.teamFontColor-CHI span {
  color: #051C2C !important;
  font-weight: bold; }

.teamFontColor-CHI {
  color: #051C2C;
  font-weight: bold; }

.teamFontColor-CIN span {
  color: #FC4C02 !important;
  font-weight: bold; }

.teamFontColor-CIN {
  color: #FC4C02;
  font-weight: bold; }

.teamFontColor-CLE span {
  color: #382F2D !important;
  font-weight: bold; }

.teamFontColor-CLE {
  color: #382F2D;
  font-weight: bold; }

.teamFontColor-DAL span {
  color: #003594 !important;
  font-weight: bold; }

.teamFontColor-DAL {
  color: #003594;
  font-weight: bold; }

.teamFontColor-DEN span {
  color: #FC4C02 !important;
  font-weight: bold; }

.teamFontColor-DEN {
  color: #FC4C02;
  font-weight: bold; }

.teamFontColor-DET span {
  color: #0069B1 !important;
  font-weight: bold; }

.teamFontColor-DET {
  color: #0069B1;
  font-weight: bold; }

.teamFontColor-GNB span {
  color: #175E33 !important;
  font-weight: bold; }

.teamFontColor-GNB {
  color: #175E33;
  font-weight: bold; }

.teamFontColor-HOU span {
  color: #091F2C !important;
  font-weight: bold; }

.teamFontColor-HOU {
  color: #091F2C;
  font-weight: bold; }

.teamFontColor-IND span {
  color: #001489 !important;
  font-weight: bold; }

.teamFontColor-IND {
  color: #001489;
  font-weight: bold; }

.teamFontColor-JAX span {
  color: #D49F12 !important;
  font-weight: bold; }

.teamFontColor-JAX {
  color: #D49F12;
  font-weight: bold; }

.teamFontColor-KAN span {
  color: #C8102E !important;
  font-weight: bold; }

.teamFontColor-KAN {
  color: #C8102E;
  font-weight: bold; }

.teamFontColor-LAC span {
  color: #0C2340 !important;
  font-weight: bold; }

.teamFontColor-LAC {
  color: #0C2340;
  font-weight: bold; }

.teamFontColor-LAR span {
  color: #002244 !important;
  font-weight: bold; }

.teamFontColor-LAR {
  color: #002244;
  font-weight: bold; }

.teamFontColor-MIA span {
  color: #008E97 !important;
  font-weight: bold; }

.teamFontColor-MIA {
  color: #008E97;
  font-weight: bold; }

.teamFontColor-MIN span {
  color: #512D6D !important;
  font-weight: bold; }

.teamFontColor-MIN {
  color: #512D6D;
  font-weight: bold; }

.teamFontColor-NEW span {
  color: #0C2340 !important;
  font-weight: bold; }

.teamFontColor-NEW {
  color: #0C2340;
  font-weight: bold; }

.teamFontColor-NOR span {
  color: #A28D5B !important;
  font-weight: bold; }

.teamFontColor-NOR {
  color: #A28D5B;
  font-weight: bold; }

.teamFontColor-NYG span {
  color: #001E62 !important;
  font-weight: bold; }

.teamFontColor-NYG {
  color: #001E62;
  font-weight: bold; }

.teamFontColor-NYJ span {
  color: #0C371D !important;
  font-weight: bold; }

.teamFontColor-NYJ {
  color: #0C371D;
  font-weight: bold; }

.teamFontColor-OAK span {
  color: #101820 !important;
  font-weight: bold; }

.teamFontColor-OAK {
  color: #101820;
  font-weight: bold; }

.teamFontColor-PHI span {
  color: #004851 !important;
  font-weight: bold; }

.teamFontColor-PHI {
  color: #004851;
  font-weight: bold; }

.teamFontColor-PIT span {
  color: #FFB81C !important;
  font-weight: bold; }

.teamFontColor-PIT {
  color: #FFB81C;
  font-weight: bold; }

.teamFontColor-SFO span {
  color: #9B2743 !important;
  font-weight: bold; }

.teamFontColor-SFO {
  color: #9B2743;
  font-weight: bold; }

.teamFontColor-SEA span {
  color: #001433 !important;
  font-weight: bold; }

.teamFontColor-SEA {
  color: #001433;
  font-weight: bold; }

.teamFontColor-TAM span {
  color: #C8102E !important;
  font-weight: bold; }

.teamFontColor-TAM {
  color: #C8102E;
  font-weight: bold; }

.teamFontColor-TEN span {
  color: #0C2340 !important;
  font-weight: bold; }

.teamFontColor-TEN {
  color: #0C2340;
  font-weight: bold; }

.teamFontColor-WAS span {
  color: #862633 !important;
  font-weight: bold; }

.teamFontColor-WAS {
  color: #862633;
  font-weight: bold; }

.navwrap input:checked + .team-ARI {
  background: linear-gradient(to right, #1f1919, #76161a) !important; }

.navwrap input:checked + .team-ATL {
  background: linear-gradient(to right, #241918, #ba1813) !important; }

.navwrap input:checked + .team-BAL {
  background: linear-gradient(to right, #1a1a1d, #2d225e) !important; }

.navwrap input:checked + .team-BUF {
  background: linear-gradient(to right, #22163c, #bfa336) !important; }

.navwrap input:checked + .team-CAR {
  background: linear-gradient(to right, #191e21, #038ac1) !important; }

.navwrap input:checked + .team-CHI {
  background: linear-gradient(to right, #27221c, #c0560c) !important; }

.navwrap input:checked + .team-CIN {
  background: linear-gradient(to right, #2c1e1b, #dd4921) !important; }

.navwrap input:checked + .team-CLE {
  background: linear-gradient(to right, #251f19, #cd5c0a) !important; }

.navwrap input:checked + .team-DAL {
  background: linear-gradient(to right, #1f2022, #3c4d67) !important; }

.navwrap input:checked + .team-DEN {
  background: linear-gradient(to right, #202122, #102540) !important; }

.navwrap input:checked + .team-DET {
  background: linear-gradient(to right, #182126, #0389c2) !important; }

.navwrap input:checked + .team-GNB {
  background: linear-gradient(to right, #1d1f1c, #325b3d) !important; }

.navwrap input:checked + .team-LAR {
  background: linear-gradient(to right, #232427, #142445) !important; }

.navwrap input:checked + .team-HOU {
  background: linear-gradient(to right, #251c1d, #7c1528) !important; }

.navwrap input:checked + .team-IND {
  background: linear-gradient(to right, #1b1f23, #0659b3) !important; }

.navwrap input:checked + .team-JAX {
  background: linear-gradient(to right, #25241f, #c49d38) !important; }

.navwrap input:checked + .team-KAN {
  background: linear-gradient(to right, #231a1d, #9f1e34) !important; }

.navwrap input:checked + .team-LAC {
  background: linear-gradient(to right, #22262a, #3e88c3) !important; }

.navwrap input:checked + .team-MIN {
  background: linear-gradient(to right, #242227, #3b2259) !important; }

.navwrap input:checked + .team-MIA {
  background: linear-gradient(to right, #1b1f20, #035560) !important; }

.navwrap input:checked + .team-NOR {
  background: linear-gradient(to right, #262521, #bc9e72) !important; }

.navwrap input:checked + .team-NEW {
  background: linear-gradient(to right, #1a1b1d, #112647) !important; }

.navwrap input:checked + .team-NYG {
  background: linear-gradient(to right, #1c1b20, #243065) !important; }

.navwrap input:checked + .team-PHI {
  background: linear-gradient(to right, #1b1f1e, #084d52) !important; }

.navwrap input:checked + .team-NYJ {
  background: linear-gradient(to right, #1a1b1b, #143a23) !important; }

.navwrap input:checked + .team-OAK {
  background: linear-gradient(to right, #1f1f1f, #656565) !important; }

.navwrap input:checked + .team-SFO {
  background: linear-gradient(to right, #1f181a, #651120) !important; }

.navwrap input:checked + .team-PIT {
  background: linear-gradient(to right, #28251d, #dfb918) !important; }

.navwrap input:checked + .team-SEA {
  background: linear-gradient(to right, #1c1c21, #394b6f) !important; }

.navwrap input:checked + .team-TAM {
  background: linear-gradient(to right, #241b1d, #a21d32) !important; }

.navwrap input:checked + .team-WAS {
  background: linear-gradient(to right, #1b191a, #4f201a) !important; }

.navwrap input:checked + .team-TEN {
  background: linear-gradient(to right, #1d2025, #5b80b5) !important; }
