//Object.keys(teams).map((teamAbbr) => {return teamAbbr + ':  #' + teams[teamAbbr].color + ','}).join('\n')
$teams: (
        ARI: linear-gradient(to right, #1f1919, #76161a),
        ATL: linear-gradient(to right, #241918, #ba1813),
        BAL: linear-gradient(to right, #1a1a1d, #2d225e),
        BUF: linear-gradient(to right, #1d1f25, #1b4581),
        CAR: linear-gradient(to right, #191e21, #038ac1),
        CHI: linear-gradient(to right, #27221c, #c0560c),
        CIN: linear-gradient(to right, #2c1e1b, #dd4921),
        CLE: linear-gradient(to right, #251f19, #cd5c0a),
        DAL: linear-gradient(to right, #1f2022, #3c4d67),
        DEN: linear-gradient(to right, #202122, #102540),
        DET: linear-gradient(to right, #182126, #0389c2), 
        GNB: linear-gradient(to right, #1d1f1c, #325b3d), 
        LAR: linear-gradient(to right, #232427, #142445),
        HOU: linear-gradient(to right, #251c1d, #7c1528),
        IND: linear-gradient(to right, #1b1f23, #0659b3),
        JAX: linear-gradient(to right, #25241f, #c49d38),
        KAN: linear-gradient(to right, #231a1d, #9f1e34),
        LAC: linear-gradient(to right, #22262a, #3e88c3),
        MIN: linear-gradient(to right, #242227, #3b2259),
        MIA: linear-gradient(to right, #1b1f20, #035560),
        NOR: linear-gradient(to right, #262521, #bc9e72),
        NEW:  linear-gradient(to right, #1a1b1d, #112647),
        NYG: linear-gradient(to right, #1c1b20, #243065),
        PHI: linear-gradient(to right, #1b1f1e, #084d52),
        NYJ: linear-gradient(to right, #1a1b1b, #143a23),
        OAK: linear-gradient(to right, #1f1f1f, #656565),
        SFO: linear-gradient(to right, #1f181a, #651120),
        PIT: linear-gradient(to right, #28251d, #dfb918),
        SEA: linear-gradient(to right, #1c1c21, #394b6f),
        TAM: linear-gradient(to right, #241b1d, #a21d32),
        WAS: linear-gradient(to right, #1b191a, #4f201a),
        TEN: linear-gradient(to right, #1d2025, #5b80b5),
);
$teamscheck: (
        ARI: linear-gradient(to right, #1f1919, #76161a),
        ATL: linear-gradient(to right, #241918, #ba1813),
        BAL: linear-gradient(to right, #1a1a1d, #2d225e),
        BUF: linear-gradient(to right, #22163c, #bfa336),
        CAR: linear-gradient(to right, #191e21, #038ac1),
        CHI: linear-gradient(to right, #27221c, #c0560c),
        CIN: linear-gradient(to right, #2c1e1b, #dd4921),
        CLE: linear-gradient(to right, #251f19, #cd5c0a),
        DAL: linear-gradient(to right, #1f2022, #3c4d67),
        DEN: linear-gradient(to right, #202122, #102540),
        DET: linear-gradient(to right, #182126, #0389c2), 
        GNB: linear-gradient(to right, #1d1f1c, #325b3d), 
        LAR: linear-gradient(to right, #232427, #142445),
        HOU: linear-gradient(to right, #251c1d, #7c1528),
        IND: linear-gradient(to right, #1b1f23, #0659b3),
        JAX: linear-gradient(to right, #25241f, #c49d38),
        KAN: linear-gradient(to right, #231a1d, #9f1e34),
        LAC: linear-gradient(to right, #22262a, #3e88c3),
        MIN: linear-gradient(to right, #242227, #3b2259),
        MIA: linear-gradient(to right, #1b1f20, #035560),
        NOR: linear-gradient(to right, #262521, #bc9e72),
        NEW:  linear-gradient(to right, #1a1b1d, #112647),
        NYG: linear-gradient(to right, #1c1b20, #243065),
        PHI: linear-gradient(to right, #1b1f1e, #084d52),
        NYJ: linear-gradient(to right, #1a1b1b, #143a23),
        OAK: linear-gradient(to right, #1f1f1f, #656565),
        SFO: linear-gradient(to right, #1f181a, #651120),
        PIT: linear-gradient(to right, #28251d, #dfb918),
        SEA: linear-gradient(to right, #1c1c21, #394b6f),
        TAM: linear-gradient(to right, #241b1d, #a21d32),
        WAS: linear-gradient(to right, #1b191a, #4f201a),
        TEN: linear-gradient(to right, #1d2025, #5b80b5),
);
$teamsclr: (
        ARI: #97233F,
        ATL: #A6192E,
        BAL: #241773,
        BUF: #00338D,
        CAR: #0085CA,
        CHI: #051C2C,
        CIN: #FC4C02,
        CLE: #382F2D,
        DAL: #003594,
        DEN: #FC4C02,
        DET: #0069B1,
        GNB: #175E33,
        HOU: #091F2C,
        IND: #001489,
        JAX: #D49F12,
        KAN: #C8102E,
        LAC: #0C2340,
        LAR: #002244,
        MIA: #008E97,
        MIN: #512D6D,
        NEW: #0C2340,
        NOR: #A28D5B,
        NYG: #001E62,
        NYJ: #0C371D,
        OAK: #101820,
        PHI: #004851,
        PIT: #FFB81C,
        SFO: #9B2743,
        SEA: #001433,
        TAM: #C8102E,
        TEN: #0C2340,
        WAS: #862633,
);
@each $team, $teamColor in $teams {
    .teamColor-#{$team} {
        background: #{$teamColor} !important;
    }
}
// @each $team, $teamColor in $teamscheck {
//     .teamCheck-#{$team} {
//         background: #{$teamColor} !important;
//     }
// }
@each $team, $teamColor in $teamsclr {
    .teamFontColor-#{$team} span {
        color: #{$teamColor} !important;
        font-weight: bold;
    }

    .teamFontColor-#{$team} {
        color: #{$teamColor};
        font-weight: bold;
    }
}

.Comp-Teams, .Comp-Versus {
    @each $team, $teamColor in $teams {
        .team-#{$team}:hover {
            @extend .teamColor-#{$team};
        }
    }
}
.navwrap {
    @each $team, $teamColor in $teamscheck {
        input:checked+.team-#{$team} {
            background: #{$teamColor} !important;
        }
    }
}
