<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE]>
  <html xmlns="http://www.w3.org/1999/xhtml" class="ie"><![endif]-->
<!--[if !IE]><!-->
<html style="margin: 0;padding: 0;" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex,nofollow">

</head>
<body>
<table class="wrapper" style="border-collapse:collapse;max-width:98%;">
    <tbody>
    <tr>
        <td style="font-family:Roboto Condensed, sans-serif;">
            <p>
                Dear {{name}},
            </p>
        </td>
    </tr>
    <tr>
        <td style="font-family:Roboto Condensed, sans-serif;">
            <p>
                please confirm your email address.
            </p>
        </td>
    </tr>
    <tr>
        <td style="font-family:Roboto Condensed, sans-serif;">
            <a href="{{link}}">
                <button style="border-radius:0;padding:15px 20px 15px;background-color:#c1272d;border:none;color:white;text-decoration:none;font-size:16px;">Confirm</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>