<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="generator" content="PSPad editor, www.pspad.com">
    <title></title>
</head>
<body>

<div style="min-height: 100%; margin: 0; padding: 0; width: 100%;text-align: center;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
           style="border-collapse:collapse;height:100%;margin:0;padding:0;padding-bottom: 30px;width:100%;background-color:#edf0f5; ">
        <tr>
            <td align="center" valign="top" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">

                <table cellspacing="0" cellpadding="0" style="width: 580px;">
                    <tr>
                        <td style="padding-right: 0px; padding-left: 0px; padding-top: 50px; padding-bottom: 0; text-align:center;"></td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0"
                       style="width: 580px; padding-right: 0; padding-left: 0; padding-top: 0; background: #ca2226;">
                    <tr>
                        <td style="padding-right: 0px; padding-left: 0; padding-top: 15px; padding-bottom: 8px; text-align:center;">
                            <h1 style="color: #fff; font-size: 24px; font-weight: bold; font-family: arial;">StatRoute
                                Password Change Request</h1>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" style="width: 580px; padding: 0;">
                    <tr>
                        <td style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                            <img src="http://www.nexavision.cz/statroute/mail/images/zuby.png"
                                 style="height: 10px;float: left; width: 100%;">
                        </td>
                    </tr>
                </table>

                <table cellspacing="0" cellpadding="0"
                       style="width: 580px; background: #fff; padding: 5px 40px; border: 2px solid #e1e9f4; border-top: 0; border-bottom: 0;">
                    <tr>
                        <td style="text-align: left; padding: 5px 0 40px; ">
                            <p style="color: #3a3a3a; font-size: 15px; padding: 5px 0 15px; font-weight: normal; font-family: arial; line-height: 22px; text-align: justify;">
                                Dear {{name}} <br><br>
                                You Requested a new password for your Statroute Account.<br>
                            </p>
                            <a href="{{link}}"
                               style="color: #fff; font-size: 15px; font-weight: bold; background: #0a7ebb; padding: 15px 30px; font-family: arial; text-decoration: none;">Reset
                                Password Now</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; background: #fff; padding: 10px 0; border-top: 1px solid #e1e9f4;">
                            <p style="color: #3a3a3a; font-size: 14px; font-weight: normal; font-family: arial; text-align: justify;">
                                If you didn’t make this request you can safely ignore this email, or contact us on <a
                                    href="mailto:info@statroute.com">info@statroute.com</a>. Your password won’t change
                                until you create a new one.
                            </p>
                            <p style="color: #3a3a3a; font-size: 14px; font-weight: normal; font-family: arial; text-align: justify; font-style: italic; padding-top: 10px;">
                                <span style="font-style: normal">Thanks,</span><br>
                                Team StatRoute
                            </p>
                        </td>
                    </tr>

                </table>

                <table cellspacing="0" cellpadding="0"
                       style="width: 580px; padding-right: 0; padding-left: 0; padding-top: 0; background: #fff; border: 2px solid #e1e9f4; border-top: 1px solid #e1e9f4;">
                    <tr>
                        <td style="padding-right: 0px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; text-align:left;">
                            <a href="www.statroute.com"
                               style="color: #3a3a3a; font-size: 12px; font-family: arial; font-weight: normal; text-align: left;">www.statroute.com</a>
                        </td>
                        <td style="padding-right: 20px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:right;">
                            <img src="http://www.nexavision.cz/statroute/mail/images/logo.png" style="">
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>


</body>
</html>
