<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="generator" content="PSPad editor, www.pspad.com">
    <title></title>
</head>
<body>

<div style="min-height: 100%; margin: 0; padding: 0; width: 100%;text-align: center;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
           style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#edf0f5; ">
        <tr>
            <td align="center" valign="top" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">

                <table cellspacing="0" cellpadding="0" style="width: 580px;">
                    <tr>
                        <td style="padding-right: 0px; padding-left: 0px; padding-top: 50px; padding-bottom: 0; text-align:center;"></td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0"
                       style="width: 580px; padding-right: 0; padding-left: 0; padding-top: 0; background: #ca2226;">
                    <tr>
                        <td style="padding-right: 0px; padding-left: 0; padding-top: 15px; padding-bottom: 8px; text-align:center;">
                            <h1 style="color: #fff; font-size: 24px; font-weight: bold; font-family: arial;">Welcome to
                                StatRoute!</h1>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" style="width: 580px; padding: 0;">
                    <tr>
                        <td style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                            <img src="http://www.nexavision.cz/statroute/mail/images/zuby.png"
                                 style="height: 10px;float: left; width: 100%;">
                        </td>
                    </tr>
                </table>

                <table cellspacing="0" cellpadding="0"
                       style="width: 580px; background: #fff; padding: 15px 20px; border: 2px solid #e1e9f4; border-top: 0; border-bottom: 0;">
                    <tr>
                        <td style="text-align: left; background: #edf0f5; padding: 15px 20px; ">
                            <p style="color: #2f7eba; font-size: 14px; font-weight: normal; font-family: arial; line-height: 22px; text-align: justify;">
                                We are so glad you chose to partner with us for your 2017 Fantasy Football season. We
                                value innovation and relevance, and will continue to release new features and products
                                throughout the year. Let’s recap how StatRoute will take your Fantasy Football
                                experience to a new standard:
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; background: #fff; padding: 15px 20px 0;">

                            <table cellspacing="0" cellpadding="0" style="border: 0">
                                <tr>
                                    <td style="padding-right: 15px">
                                        <img src="http://www.nexavision.cz/statroute/mail/images/time.png"
                                             alt="time icon" title="" /">
                                    </td>
                                    <td style="padding: 10px 0;">
                                        <p style="color: #3a3a3a; font-size: 14px; font-weight: normal; font-family: arial; text-align: justify;">
                                            Locate any stat, for any player, or any team in 7 seconds or less!
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-right: 15px">
                                        <img src="http://www.nexavision.cz/statroute/mail/images/web.png" alt="web icon"
                                             title="" /">
                                    </td>
                                    <td style="padding: 10px 0;">
                                        <p style="color: #3a3a3a; font-size: 14px; font-weight: normal; font-family: arial; text-align: justify;">
                                            Access data points no-one in the industry has.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-right: 15px">
                                        <img src="http://www.nexavision.cz/statroute/mail/images/sipky.png"
                                             alt="arrows icon" title="" /">
                                    </td>
                                    <td style="padding: 10px 0;">
                                        <p style="color: #3a3a3a; font-size: 14px; font-weight: normal; font-family: arial; text-align: justify;">
                                            Toggle matchups on the Depth Chart with customizations and Stats IP feeds.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-right: 15px">
                                        <img src="http://www.nexavision.cz/statroute/mail/images/weather.png"
                                             alt="weather icon" title="" /">
                                    </td>
                                    <td style="padding: 10px 0;">
                                        <p style="color: #3a3a3a; font-size: 14px; font-weight: normal; font-family: arial; text-align: justify;">
                                            Browse our comprehensive Weather Report to get an ‘at-a-glance’ view, with
                                            statistics never seen before!
                                        </p>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; background: #fff; padding: 15px 20px;">
                            <p style="color: #3a3a3a; font-size: 14px; font-weight: normal; font-family: arial; text-align: justify;">
                                Keep an eye out for Fantasy News and special offers from us. But for now, let’s get you
                                ahead of the pack by getting those stats you deserve!
                            </p>
                            <p style="color: #3a3a3a; font-size: 14px; font-weight: normal; font-family: arial; text-align: justify; font-style: italic; padding-top: 10px;">
                                Team StatRoute
                            </p>
                        </td>
                    </tr>

                </table>

                <table cellspacing="0" cellpadding="0"
                       style="width: 580px; padding-right: 0; padding-left: 0; padding-top: 0; background: #fff; border: 2px solid #e1e9f4; border-top: 1px solid #e1e9f4;">
                    <tr>
                        <td style="padding-right: 0px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; text-align:left;">
                            <a href="https://www.statroute.com"
                               style="color: #3a3a3a; font-size: 12px; font-family: arial; font-weight: normal; text-align: left;">www.statroute.com</a>
                        </td>
                        <td style="padding-right: 20px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:right;">
                            <img src="http://www.nexavision.cz/statroute/mail/images/logo.png" style="">
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>


</body>
</html>
