@media (min-width: 430px) {

}

@media (min-width: 480px) {

}

@media (min-width: 520px) {

}

@media (min-width: 610px) {

}

@media (min-width: 768px) {

}

@media (min-width: 860px) {

}

@media (min-width: 1030px) {

}

@media (min-width: 1190px) {

}
