.Comp-ChangePlan .selectplan h2 {
  text-align: center;
  margin: 0 0 50px;
  text-transform: none;
  color: #3a3a3a;
  font-size: 23px;
  font-weight: 300; }

.Comp-ChangePlan .block p.error, .Comp-ChangePlan .block p.success {
  margin-top: 15px;
  margin-bottom: 0;
  color: #279a3e; }

.Comp-ChangePlan .block p.error {
  color: #c1272d; }

.Comp-ChangePlan .block.inputs {
  padding: 40px 120px 60px; }

.Comp-ChangePlan .block .left {
  float: left;
  font-size: 15px;
  font-weight: 500; }

.Comp-ChangePlan .block .right {
  float: right; }
  .Comp-ChangePlan .block .right.promo {
    width: 100%; }
    .Comp-ChangePlan .block .right.promo input[type=text] {
      width: 70%;
      margin: 15px 0 0;
      float: left; }
    .Comp-ChangePlan .block .right.promo button {
      width: 28%;
      float: right;
      margin-top: 15px;
      background: #2f7eba;
      cursor: pointer;
      height: 48px; }

.Comp-ChangePlan .block .item:last-child {
  margin-top: 50px; }

.Comp-ChangePlan .block .buttonarrow {
  margin-top: 10px; }
  .Comp-ChangePlan .block .buttonarrow.disabled {
    opacity: .7; }
