.Comp-ChangePlan {
    .selectplan h2 {
        text-align: center;
        margin: 0 0 50px;
        text-transform: none;
        color: #3a3a3a;
        font-size: 23px;
        font-weight: 300;
    }

    .block {

        p.error, p.success {
            margin-top: 15px;
            margin-bottom: 0;
            color: #279a3e;
        }

        p.error {
            color: #c1272d;
        }

        &.inputs {
            padding: 40px 120px 60px;
        }

        .left {
            float: left;
            font-size: 15px;
            font-weight: 500;
        }

        .right {
            float: right;

            &.promo {
                width: 100%;

                input[type=text] {
                    width: 70%;
                    margin: 15px 0 0;
                    float: left;
                }

                button {
                    width: 28%;
                    float: right;
                    margin-top: 15px;
                    background: #2f7eba;
                    cursor: pointer;
                    height: 48px;
                }
            }
        }

        .item:last-child {
            margin-top: 50px;
        }

        .buttonarrow {
            margin-top: 10px;

            &.disabled {
                opacity: .7;
            }
        }
    }

}