.Comp-WeatherStatIPPlayers .dataheader .Select.react-select {
  float: left;
  width: 180px;
  margin-left: 10px; }
  .Comp-WeatherStatIPPlayers .dataheader .Select.react-select.is-open .Select-control {
    border-color: #999; }
  .Comp-WeatherStatIPPlayers .dataheader .Select.react-select > .Select-control {
    height: 37px; }
    .Comp-WeatherStatIPPlayers .dataheader .Select.react-select > .Select-control .Select-placeholder, .Comp-WeatherStatIPPlayers .dataheader .Select.react-select > .Select-control .Select-value {
      padding-top: 0;
      padding-left: 15px; }
      .Comp-WeatherStatIPPlayers .dataheader .Select.react-select > .Select-control .Select-placeholder .Select-value-label, .Comp-WeatherStatIPPlayers .dataheader .Select.react-select > .Select-control .Select-value .Select-value-label {
        margin: 0; }
    .Comp-WeatherStatIPPlayers .dataheader .Select.react-select > .Select-control .Select-arrow-zone {
      background-color: transparent; }
      .Comp-WeatherStatIPPlayers .dataheader .Select.react-select > .Select-control .Select-arrow-zone .Select-arrow {
        border-bottom: 2px solid #407eb9;
        border-right: 2px solid #407eb9; }
