<!doctype html>
<html lang="en">
<head>
    <title>Payment redirect page</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,400i,500,500i,700&amp;subset=latin-ext"
          rel="stylesheet">
    <style>
        * {
            margin: 0 auto;
            font-family: 'Roboto', sans-serif;
            color: #3a3a3a;
        }

        html {
            height: 100%;
        }
        body {
            min-height: 100%;
            display: flex;
            align-items: center;
        }

        .container {
            width: 100%;
            padding: 0 60px;
            height: fit-content;
        }

        h1 {
            font-size: 18px;
            font-weight: 400;
            text-transform: none;
            margin: 20px 0 5px;
        }

        button {
            color: #fff;
            height: 50px;
            border: 0;
            float: left;
            width: 100%;
            background: #c1272d;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 35px;
            position: relative;
        }

        button:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border-top: 25px solid #fff;
            border-bottom: 25px solid #fff;
            border-left: 15px solid transparent;
        }
    </style>
    <script>

        function onClose() {
            window.parent.postMessage({
                'func': 'closePopup',
                'success': {{success}}
            }, '*');
        }

    </script>
</head>
<body>
<div class="container">
    <h1>{{message}}</h1>

    <button class="close" onclick="onClose();">Close</button>
</div>
</body>
</html>
