@import "../../variables";

.Comp-LandingPage {
  .podhead {
    p {
      font-size: 26px;
    }
    
    h1 {
      overflow: inherit;
      white-space: inherit;
    }
    
    @media #{$width-800-down}{
      padding-top: 100px;
      padding-bottom: 150px;
      
      h1 {
        font-size: 28px;
      }
    }
  }
  
  .intro_schedule {
    .iframe-yotuube-wrapper {
       max-width: 900px;
      
      iframe {
        width: 100vw;
        max-width: 100%;
        height: 56.25vw;
        max-height: 450px;
      }
    }
  }
  
  .news {
    .news_list {
      .item {
        
        @media #{$width-800-down}{
          display: flex;
          flex-wrap: wrap;
          
          .imgwrap {
            flex-basis: 100%;
            
            a {
              width: 100% !important;
              height: auto !important;
              
              img {
                //  min-height: 100vw !important;;
                position: inherit !important;;
                left: 0 !important;;
                transform: none !important;
                width: 100% !important;
                height: auto !important;
                min-width: inherit !important;
              }
            }
          }
          
          .textwrap {
            flex-basis: 100%;
          }
          
          h3 + p {
            display: none;
          }
        }
        
        .imgwrap a {
          display: inline-block;
          height: 128px;
          width: 209px;
          overflow: hidden;
          position: relative;
          text-align: center;
          
          img {
            height: 100%;
            min-width: 209px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    .news_slider {
      padding: 30px 40px;
      box-sizing: border-box;
      
      .item {
        .image {
          position: relative;
          text-align: center;
          
          img {
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          
        }
        
        .text {
          display: flex;
          align-items: center;
          height: 80px;
          
          p {
            display: block;
            height: auto;
            width: 100%;
            margin: 0 5%;
          }
        }
      }
    }
  }
  
}