@import "../../variables";

.Comp-LandingPage {
  .podheadnew {
    p {
      font-size: 26px;
    }
    
    h1 {
      overflow: inherit;
      white-space: inherit;
    }
    
    @media #{$width-800-down}{
      .intro_schedulenew{
        background: none;
      }
      h1 {
        font-size: 28px;
      }
    }

    @media #{$width-600-down}{
      h1 {
    font-size: 35px;
      }
    }
  }
  
  .intro_schedule {
    .iframe-yotuube-wrapper {
       max-width: 900px;
      
      iframe {
        width: 100vw;
        max-width: 100%;
        height: 56.25vw;
        max-height: 450px;
      }
    }
  }
  .land-message{
    letter-spacing: 1px;
    font-weight: 300;
    color: white;
    font-size: 1.714rem;
    line-height: 4.5rem;
    @media #{$width-600-down}{
      line-height: 2.5rem;
    }
  }
  .land-message2{
    letter-spacing: 1px;
    font-weight: 300;
    color: white;
    font-size: 1.514rem;
    line-height: 6.5rem;
    @media #{$width-600-down}{
      line-height: 2.5rem;
    }
  }
  .glyph-position{
    padding-top: 9%;
    font-size: 2.5em;
    @media #{$width-600-down}{
      padding-top: 15%;
    }
  }
  .about-title{
    color: black;
    font-size: 2.0em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 7%;
    @media #{$width-600-down}{
      text-align: center;
    }
  }
  .know-moremob{
    @media #{$width-600-down}{
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
  }
  .about-detail{
    text-align: left;
    color:black;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .color-blk{
    color:black;
    text-align: left;
  }
  .testimonial-name{
    font-weight: bold;
  }
  .testimonial-pos{
    font-style: italic;
  }
  .know-more{
float: left;
background: #c02437;
display: inline-block; color: #fff; text-decoration: none; position: relative;     
padding: 12px 40px; font-size: 15px; font-weight: 500;

  }
  .testimonial-img{
    width: 4%;
    margin-right: 15px;
    @media #{$width-600-down}{
      width:10%;
    }
  }
  .test-report{
    @media #{$width-600-down}{
    text-align: justify;
padding-left: 10px;
    }
}
  .slides {
    position: relative;
    .slick-prev, .slick-next {
      position: absolute;
      top: 50%;
    }
    .slick-prev {
      left: -3%;
    }
    .slick-next {
      right: -2%;
    }
  }

  .testimonial-title{
    color: black;
    font-size: 1.8em;
    font-weight: bold;
  }
  .news {
    .news_list {
      .item {
        
        @media #{$width-800-down}{
          display: flex;
          flex-wrap: wrap;
          
          .imgwrap {
            flex-basis: 100%;
            
            a {
              width: 100% !important;
              height: auto !important;
              
              img {
                //  min-height: 100vw !important;;
                position: inherit !important;;
                left: 0 !important;;
                transform: none !important;
                width: 100% !important;
                height: auto !important;
                min-width: inherit !important;
              }
            }
          }
          
          .textwrap {
            flex-basis: 100%;
          }
          
          h3 + p {
            display: none;
          }
        }
        
        .imgwrap a {
          display: inline-block;
          height: 128px;
          width: 209px;
          overflow: hidden;
          position: relative;
          text-align: center;
          
          img {
            height: 100%;
            min-width: 209px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    .news_slider {
      padding: 30px 40px;
      box-sizing: border-box;
      
      .item {
        .image {
          position: relative;
          text-align: center;
          
          img {
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          
        }
        
        .text {
          display: flex;
          align-items: center;
          height: 80px;
          
          p {
            display: block;
            height: auto;
            width: 100%;
            margin: 0 5%;
          }
        }
      }
    }
  }
  
}