@media only screen and (max-width: 600px) {
  .hidden-under-600 {
    display: none; } }

@media only screen and (min-width: 601px) {
  .visible-under-600 {
    display: none; } }

.Comp-LandingPage .podheadnew p {
  font-size: 26px; }

.Comp-LandingPage .podheadnew h1 {
  overflow: inherit;
  white-space: inherit; }

@media only screen and (max-width: 800px) {
  .Comp-LandingPage .podheadnew .intro_schedulenew {
    background: none; }
  .Comp-LandingPage .podheadnew h1 {
    font-size: 28px; } }

@media only screen and (max-width: 600px) {
  .Comp-LandingPage .podheadnew h1 {
    font-size: 35px; } }

.Comp-LandingPage .intro_schedule .iframe-yotuube-wrapper {
  max-width: 900px; }
  .Comp-LandingPage .intro_schedule .iframe-yotuube-wrapper iframe {
    width: 100vw;
    max-width: 100%;
    height: 56.25vw;
    max-height: 450px; }

.Comp-LandingPage .land-message {
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
  font-size: 1.714rem;
  line-height: 4.5rem; }
  @media only screen and (max-width: 600px) {
    .Comp-LandingPage .land-message {
      line-height: 2.5rem; } }

.Comp-LandingPage .land-message2 {
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
  font-size: 1.514rem;
  line-height: 6.5rem; }
  @media only screen and (max-width: 600px) {
    .Comp-LandingPage .land-message2 {
      line-height: 2.5rem; } }

.Comp-LandingPage .glyph-position {
  padding-top: 9%;
  font-size: 2.5em; }
  @media only screen and (max-width: 600px) {
    .Comp-LandingPage .glyph-position {
      padding-top: 15%; } }

.Comp-LandingPage .about-title {
  color: black;
  font-size: 2.0em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
  padding-top: 7%; }
  @media only screen and (max-width: 600px) {
    .Comp-LandingPage .about-title {
      text-align: center; } }

@media only screen and (max-width: 600px) {
  .Comp-LandingPage .know-moremob {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px; } }

.Comp-LandingPage .about-detail {
  text-align: left;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px; }

.Comp-LandingPage .color-blk {
  color: black;
  text-align: left; }

.Comp-LandingPage .testimonial-name {
  font-weight: bold; }

.Comp-LandingPage .testimonial-pos {
  font-style: italic; }

.Comp-LandingPage .know-more {
  float: left;
  background: #c02437;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 12px 40px;
  font-size: 15px;
  font-weight: 500; }

.Comp-LandingPage .testimonial-img {
  width: 4%;
  margin-right: 15px; }
  @media only screen and (max-width: 600px) {
    .Comp-LandingPage .testimonial-img {
      width: 10%; } }

@media only screen and (max-width: 600px) {
  .Comp-LandingPage .test-report {
    text-align: justify;
    padding-left: 10px; } }

.Comp-LandingPage .slides {
  position: relative; }
  .Comp-LandingPage .slides .slick-prev, .Comp-LandingPage .slides .slick-next {
    position: absolute;
    top: 50%; }
  .Comp-LandingPage .slides .slick-prev {
    left: -3%; }
  .Comp-LandingPage .slides .slick-next {
    right: -2%; }

.Comp-LandingPage .testimonial-title {
  color: black;
  font-size: 1.8em;
  font-weight: bold; }

@media only screen and (max-width: 800px) {
  .Comp-LandingPage .news .news_list .item {
    display: flex;
    flex-wrap: wrap; }
    .Comp-LandingPage .news .news_list .item .imgwrap {
      flex-basis: 100%; }
      .Comp-LandingPage .news .news_list .item .imgwrap a {
        width: 100% !important;
        height: auto !important; }
        .Comp-LandingPage .news .news_list .item .imgwrap a img {
          position: inherit !important;
          left: 0 !important;
          transform: none !important;
          width: 100% !important;
          height: auto !important;
          min-width: inherit !important; }
    .Comp-LandingPage .news .news_list .item .textwrap {
      flex-basis: 100%; }
    .Comp-LandingPage .news .news_list .item h3 + p {
      display: none; } }

.Comp-LandingPage .news .news_list .item .imgwrap a {
  display: inline-block;
  height: 128px;
  width: 209px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .Comp-LandingPage .news .news_list .item .imgwrap a img {
    height: 100%;
    min-width: 209px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.Comp-LandingPage .news .news_slider {
  padding: 30px 40px;
  box-sizing: border-box; }
  .Comp-LandingPage .news .news_slider .item .image {
    position: relative;
    text-align: center; }
    .Comp-LandingPage .news .news_slider .item .image img {
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .Comp-LandingPage .news .news_slider .item .text {
    display: flex;
    align-items: center;
    height: 80px; }
    .Comp-LandingPage .news .news_slider .item .text p {
      display: block;
      height: auto;
      width: 100%;
      margin: 0 5%; }
