.prompt-popup {
  background: #fefefe;
  padding: 30px 60px; }
  .prompt-popup .h2 {
    display: block;
    text-align: left;
    font-weight: 300;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 5px;
    float: none; }
  .prompt-popup .error {
    margin-top: 15px;
    margin-bottom: 0;
    color: #c1272d; }
  .prompt-popup input[type=text], .prompt-popup input[type=password] {
    height: 50px;
    color: #636363;
    width: 100%;
    border: 1px solid #cfd7e3;
    padding: 0 20px 0 25px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: inset 0 2px 10px 0 #eceff4;
    margin: 15px 0 0;
    float: none; }
  .prompt-popup button {
    color: #fff;
    height: 50px;
    border: 0;
    width: 30%;
    background: #c1272d;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 35px 15px 0;
    position: relative; }
  .prompt-popup .checkbox {
    margin-top: 20px;
    text-align: left; }
    .prompt-popup .checkbox input:checked + label:before {
      background: #fff url("../../../resources/basic/images/fajfka.png") 50% no-repeat; }
    .prompt-popup .checkbox input {
      display: none; }
    .prompt-popup .checkbox label {
      padding-left: 35px;
      cursor: pointer;
      position: relative;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      display: inline-block; }
      .prompt-popup .checkbox label:before {
        position: absolute;
        content: "";
        top: 50%;
        margin-top: -11px;
        left: 0;
        width: 12px;
        height: 12px;
        border: 5px solid #fff;
        background: #fff;
        box-shadow: 0 0 0 1px #bcc5d4; }
