.about-us {
  transform: scale(1.05);
  transition: transform 5s cubic-bezier(0.3, 0, 0.7, 1), opacity 1s ease;
  margin-top: 60px;
  background-size: cover;
  padding: 8% 0 8%;
  background-repeat: no-repeat;
  background-image: url("../../resources/basic/images/about-us.png"); }

.goal-div {
  background-size: cover;
  height: 560px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("../../resources/basic/images/about2.jpg"); }

.abt-title1 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 45px;
  padding-left: 5%;
  color: #f3f3f3;
  letter-spacing: 2px; }

.abt-title2 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 75px;
  padding-left: 5%;
  color: #f3f3f3;
  padding-top: 30px;
  text-shadow: 2px 2px #746262; }

.abt-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 55px;
  position: relative;
  line-height: 62px;
  padding-top: 5vw;
  padding-bottom: 30px; }

.story {
  font-size: 35px;
  font-family: 'Open Sans';
  font-weight: 100; }

.hr {
  width: 30%;
  border-top: 3px solid #c1272d; }

.hr-princip {
  width: 10%;
  border-top: 3px solid #c1272d; }

.story-padding {
  padding-top: 55px;
  padding-bottom: 15px; }

.priciple-div {
  width: 80%;
  margin: 0 auto;
  text-align: center !important; }
  .priciple-div p {
    line-height: 35px; }

.about-cont p {
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 35px; }

.abt-tag {
  font-size: 25px;
  font-family: 'Open Sans';
  font-weight: 100;
  color: #222222;
  letter-spacing: 1px; }

.features {
  width: 90%;
  margin: 0 auto; }
  .features p {
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 30px;
    font-size: 14px;
    color: #666666; }

.odd-bg {
  width: 100% !important;
  background-color: #f7f7f7; }

.abt-cnct {
  padding-top: 55px;
  font-size: 35px;
  font-family: 'Open Sans';
  font-weight: 100;
  padding-bottom: 40px; }

.abt-connect {
  padding: 10px 50px 11px;
  background: linear-gradient(-60deg, #c1272d, #cc8385);
  width: 25%;
  color: white;
  font-size: 20px;
  letter-spacing: 1px; }

.svg-fill {
  fill: white; }

.brief-title {
  padding-top: 13vw;
  color: white;
  font-size: 3.9em;
  letter-spacing: 2px;
  font-weight: 500; }

.goal-pnt {
  color: white;
  font-size: 2.9em;
  font-weight: bold; }

.goal-title {
  color: white;
  font-weight: 100;
  padding-top: 15px;
  font-size: 1.2em;
  letter-spacing: 2px; }

@media only screen and (min-device-width: 1200px) and (max-device-width: 1900px) {
  .goal-div {
    height: 43vw; }
  .goal-pnt {
    font-size: 3.9em; }
  .goal-title {
    font-size: 2.2em; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hr {
    width: 10%; }
  .abt-title2 {
    font-size: 3.9em; }
  .abt-connect {
    width: 32%; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .brief-title {
    padding-top: 18vw; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .brief-title {
    padding-top: 20vw; } }

@media only screen and (max-width: 600px) {
  .abt-connect {
    width: 32%; }
  .abt-title2 {
    font-size: 3.5em; }
  .about-us {
    margin-top: 20px; }
  .hr-princip {
    width: 20%; }
  .features p {
    margin-bottom: 30px; }
  .abt-cnct {
    font-size: 30px; }
  .abt-connect {
    width: 90%;
    margin: 0 auto; } }
