

.contact-us {
      margin-top: 60px;
    text-align: left;
    padding-left: 45px;
    color: white;
    margin-bottom: 20%;
      padding: 75px 0 250px;
    background-size: cover;
    background-position: center;
  background-image: url('../../resources/basic/images/contact.jpg');
  .contact-title{
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 3.2em;
    padding-left: 5vw;
    letter-spacing: 1px;
  }
  .pin-img{
      float: right;
    margin-right: 5%;
    margin-top: 5%;
  }
  .contact-card{
    position: absolute;
    top: 40%;
    background-color: white;
    width: 40%;
    left: 30%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    height: 375px;
  }
  .contact-info{
        height: 375px;
    background-color: #3A3A3A;
  }
  .side-title{
        margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    span{
      color:white;
      font-size: 1.6em;
    }
  }
  .f25{
    font-size: 25px;
  }
  .mb30{
    margin-bottom: 30px;
  }
  .color-grey{
    color:#bfbaba;
  }
}
.container-login100 {
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 90%;
}

.login100-form-title {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-avatar img {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.input100 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background:#bb0930;
}

.focus-input100::after {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 80%;
  height: 50px;
  background-color: #333333;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover  {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}
  .login-more li {
    position: relative;
    padding-left: 16px;
  }
  .visible-xs{
    display: none;
  }
  .login-more li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
  }
.contact-button{
  width: 50px;
    display: block;
    height: 50px;
    border-radius: 50%;
    background-color: #3a3a3a;
    float: right;
}
  @media only screen 
and (max-device-width : 1900px)  { 
  .contact-us{
.contact-card{
  top:20vw;
}
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .contact-us{
    .contact-card{
      top: 30vw;
      width: 70%;
      left: 15%;
    }
    }
    .contact-us{
      margin-bottom: 25%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  .contact-us{
    .contact-card{
      top: 35vw;
      width: 70%;
      left: 15%;
    }
    }
    .contact-us{
      margin-bottom: 30%;
    }

 }


 @media only screen and (max-width: 600px) {
  .contact-us{
    margin-bottom: 80%;
    margin-top: 15px;
    text-align: center;
    padding: 100px 0 250px;
  }
  .contact-us{
    .contact-card{
      top: 90vw;
      width: 93%;
      left: 3%;
    }
     .contact-info{
      height: 395px;
     }
    }
.hide-xs{
  display: none !important;
}
.visible-xs{
  display: block !important;
}
.xs-card{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
 }